.footer {
  background-color: #000;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container {
  padding: 38px 35px 47px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tablet-bp) {
    padding: 57px 138px 56px 118px;
  }
  @media (min-width: $desktop-bp) {
    padding: 66px 462px 70px 454px;
  }
}
.footer__title {
  margin-top: 38px;
  @include text(700, 14px, 22px, #fefefe);
  text-transform: uppercase;
  @media (min-width: $tablet-bp) {
    margin-top: 57px;
    font-size: 16px;
  }
  @media (min-width: $desktop-bp) {
    margin-top: 65px;
  }
}
.footer__subtitle {
  text-align: center;
  @include text(400, 12px, 20px, #b9b9b9);
  margin-top: 8px;
  @media (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
  }
}
.footer__links {
  a {
    text-decoration: none;
  }
  margin-top: 26px;
  display: flex;
  column-gap: 6px;
  @media (min-width: $tablet-bp) {
    margin-top: 37px;
  }
}
.footer__contacts {
  text-align: center;
  @include text(400, 14px, 24px, #b9b9b9);
  margin-top: 25px;
  margin-bottom: 47px;
  @media (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 26px;
    margin-top: 34px;
    margin-bottom: 56px;
  }
  @media (min-width: $desktop-bp) {
    margin-bottom: 70px;
  }
}
