@import "./abstracts/variables";
@import "./abstracts/mixins";
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 25px;
  right: 25px;
  @media (min-width: $tablet-bp) {
    display: none;
  }
  .menu__button {
    width: 44px;
    height: 37px;
    background-color: #000;
    display: none;
    cursor: pointer;
    &-active {
      display: block;
    }
  }
  .menu__list {
    width: 208px;
    z-index: 1;
    display: none;
    &.active {
      display: block;
    }
  }
  .menu__item {
    background-color: #f5f5f5;
    display: block;
    a {
      @include text(400, 11px, 22px, $color);
      text-decoration: none;
      text-transform: uppercase;
      margin: 6px auto 6px 13px;
    }
  }
}

.menu {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
  }
  .menu__list {
    @media (min-width: $tablet-bp) {
      display: flex;
      justify-content: center;
      column-gap: 34px;
      margin-top: 41px;
    }
    @media (min-width: $desktop-bp) {
      column-gap: 68px;
      margin-top: 45px;
    }
  }
  .menu__item {
    padding: 7px;
    a {
      @media (min-width: $tablet-bp) {
        @include text(400, 11px, 22px, $color);
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
.menu__item {
  &:hover {
    background-color: $hoverBackColor;
  }
}
.menu__item {
  a.active {
    color: $accentColor;
  }
}
.header__img {
  background-image: url("../../../dist/img/header/header-img-s.jpg");
  background-position: center;
  height: 150px;
  aspect-ratio: 2/1;
  margin-top: 70px;

  @media (min-width: $tablet-bp) {
    margin-top: 43px;
    background-image: url("../../../dist/img/header/header-img-m.jpg");
    height: 361px;
  }
  @media (min-width: $desktop-bp) {
    background-image: url("../../../dist/img/header/header-img-l.jpg");
    margin-top: 51px;
    height: 550px;
  }
}
