
.posts__title {
  margin-top: 38px;
  @include text(700, 14px, 22px, $color);
  text-transform: uppercase;
  @media (min-width: $tablet-bp) {
    margin-top: 56px;
    font-size: 16px;
  }
  @media (min-width: $desktop-bp) {
    margin-top: 66px;
  }
}
.posts__list {
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (4, 1fr);
  gap: 28.5px;
  margin-top: 23px;
  @media (min-width: $tablet-bp) {
    gap: 32px;
    margin-top: 24px;
  }
  @media (min-width: $desktop-bp) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 32px;
    margin-top: 24px;
  }
  li {
    @media (min-width: $tablet-bp) {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 20px;
    }
  }
}
.posts__subtitle {
  @include text(700, 14px, 30px, $color);
  @media (min-width: $tablet-bp) {
    font-size: 16px;
  }
}
.posts__comments {
  @include text(400, 11px, 20px, #7c7c7c);
  @media (min-width: $tablet-bp) {
    font-size: 16px;
  }
}
.posts__text-hidden {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
    @include text(400, 14px, 28px, #5c5c5c);
    margin-top: 13px;
  }
}
.posts__item-hidden {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
  }
}
